.form-group {
  display: block;
  margin: 10px 0 20px 0;

  strong, .form-control {
    display: block;
    font-size: 18px;
    color: #cc446f;
    font-family: 'Ubuntu';

  }

  .form-control {
    width: 100%;
    padding: 5px 10px;
    background: white;
    border: 1px solid #333;
    height: 40px;
    line-height: 40px;
  }
  .input {
    background-color: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
    border-radius: 3px;
    resize: none;
    text-align: left;
    padding-left: 10px;
    padding-top: 4px;
  }
}

.skills-title {
  padding-bottom: 30px;
  color: #cc446f;
  font-size: 25px;
  font-family: 'Ubuntu';
}

.skills-subtitle {
  padding-bottom: 10px;
  color: #cc446f;
  font-size: 18px;
  font-family: 'Ubuntu';
}

.skills-input {
  background-color: #FFFFFF;
  border: 1px solid #979797;
  box-shadow: inset 0 1px 3px 0 rgba(0,0,0,0.50);
  border-radius: 3px;
  resize: none;
  text-align: left;
  padding-left: 10px;
  padding-top: 4px;
  margin-bottom: 25px;
  height: 40px;
}



